@media only screen and (max-width: 600px) {
    .hde {display: ''}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .hde {display: ''}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .hde {display: none}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .hde {display: none}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .hde {display: none}
  }

  .alpha:hover{
      background-color: lightgrey;
      cursor: pointer;
  }

  .active{
      color: blue;
  }